{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "max-len": [2, 128],
    "no-plusplus": ["error", { allowForLoopAfterthoughts: true }],
    "react/no-find-dom-node": 0
  }
}
